<p>{{greeting}} {{userName}}</p>
<br>
<p>{{mainText}}</p>
<br>
<hr>
<p>
	<strong>{{clientSubject}}</strong> {{subject}}<br>
	<strong>{{clientMessage}}</strong> {{text}}
</p>
<hr>
<p>{{farewell}}</p>
<p>Podlasiak</p>
<a href="tel:+48856621976">+48 85 662 19 76</a><br>
<a href="mailto:salonlazienekrea@wp.pl">salonlazienekrea@wp.pl</a>

