<main class='main-container'>
	<section class='features-container' id='features'>
		<h2 class='about about--other'>{{#if
				serverLang.layout.features.title}}{{serverLang.layout.features.title}}{{else}}
			serverLang.layout.features.title{{/if}}</h2>
		<div class='features-cont'>
			{{#each serverLang.layout.features.content}}
				<div class='feature-box'>
					<img src="{{this.img}}" alt="" class="feature__img">
					<h4 class='feature__name'>{{#if this.title}}{{this.title}}{{else}}
						serverLang.layout.features.content.title{{/if}}</h4>
					<p class='feature__desc'>{{#if this.desc}}{{this.desc}}{{else}}
						serverLang.layout.features.content.title{{/if}}</p>
				</div>
			{{/each}}
		</div>
	</section>
	<section class='reviews-container' id='reviews'>
		<h3 class='about about--other'>{{#if
				serverLang.layout.reviews.title}}{{serverLang.layout.reviews.title}}{{else}}
			serverLang.layout.reviews.title{{/if}}</h3>
		<div class='reviews'>
			{{#each serverLang.layout.reviews.review}}
				<div class='reviews-box'>
					<div class='review'>
						<div class='comment'>
							<p class='comment__text'>
								<strong class='comment__text comment__text--quot'>„</strong>{{#if
									this.desc}}{{this.desc}}{{else}}this.desc{{/if}}
								<strong
										class='comment__text comment__text--quot'>"</strong>
							</p>
						</div>
					</div>
					<div class='client'>
						<p class='client__name'>{{#if this.user}}{{this.user}}{{else}}
							this.user{{/if}}</p>
						<img alt='Logo' class='client__logo'
								src='/images/opineo/opinieo.png'>
					</div>
				</div>
			{{/each}}
		</div>
		<div class='grade-box'>
			<div class='grade'>
				<div class='left-side'>
					<img alt='Logo' class='grade__logo'
							src='/images/opineo/opinieo.png'>
					<div class='grade__text'>
						<div class='grade__box'>
							<h3 class='text-grade'><strong>4.8</strong> / 5</h3>
							<div class='percent'>
								<img alt='Thumb' class='percent__hand'
										src='/images/opineo/thumb_positive.png'>
								<p class='percent__text'>97%</p>
							</div>
							<p class='desc-grade'>{{#if
									serverLang.layout.reviews.desc.recommended}}{{serverLang.layout.reviews.desc.recommended}}{{else}}
								serverLang.layout.reviews.desc.recommended{{/if}}</p>
						</div>
						<img alt='Quality' class='quality'
								src='/images/opineo/opineo-quality.png'>
					</div>
				</div>
				<div class='review-text'>
					<p class='review-text__top'>{{#if
							serverLang.layout.reviews.desc.firstPart}}{{serverLang.layout.reviews.desc.firstPart}}{{else}}
						serverLang.layout.reviews.desc.firstPart{{/if}}
					</p>
					<p class='review-text__bottom'>{{#if
							serverLang.layout.reviews.desc.secondPart}}{{serverLang.layout.reviews.desc.secondPart}}{{else}}
						serverLang.layout.reviews.desc.secondPart{{/if}}</p>
				</div>
			</div>
		</div>
	</section>
	<section class='about-container' id='about'>
		{{>europe_svg}}
		<div class='text-wrap'>
			<div class='text-cont'>
				<h3 class='about about--other'>{{#if
						serverLang.layout.about.title}}{{serverLang.layout.about.title}}{{else}}
					serverLang.layout.about.title{{/if}}</h3>
				<p class='content content--primary'>{{#if
						serverLang.layout.about.firstPart}}{{serverLang.layout.about.firstPart}}{{else}}
					serverLang.layout.about.firstPart{{/if}}</p>
				<p class='content content--secondary'>{{#if
						serverLang.layout.about.secondPart}}{{serverLang.layout.about.secondPart}}{{else}}
					serverLang.layout.about.secondPart{{/if}}</p>
			</div>
		</div>
	</section>
	<section class='stores-container' id='stores'>

		<h3 class='about about--other'>{{#if
				serverLang.layout.stores.title}}{{serverLang.layout.stores.title}}{{else}}
			serverLang.layout.stores.title{{/if}}</h3>
		<div class='store-wrap'>
			<div class='store-box'>
				<div class='logo-container'>
					<img alt='Logo Rea' class="store-logo" src='/images/logos/rea.svg'>
				</div>
				<div class='flag-box'>
					<a class='flag flag-pl' href='https://lazienka-rea.com.pl/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Polska' class='flag-img'
								src='/images/flags/pl.png'>
						<span class='flag-name'>Polska</span>
					</a>
					<a class='flag flag-en' href='https://bathroom-rea.com/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Anglia' class='flag-img'
								src='/images/flags/en.png'>
						<span class='flag-name'>United Kingdom</span>
					</a>
					<a class='flag flag-de' href='https://badezimmer-rea.de/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niemcy' class='flag-img'
								src='/images/flags/de.png'>
						<span class='flag-name'>Deutschland</span>
					</a>
					<a class='flag flag-ru' href='https://santechnika-rea.ru/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rosja' class='flag-img' src='/images/flags/ru.png'>
						<span class='flag-name'>Россия</span>
					</a>
					<a class='flag flag-it' href='https://bagno-rea.it/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Włochy' class='flag-img'
								src='/images/flags/it.png'>
						<span class='flag-name'>Italia</span>
					</a>
					<a class='flag flag-fr' href='https://salledebain-rea.fr/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Francja' class='flag-img'
								src='/images/flags/fr.png'>
						<span class='flag-name'>France</span>
					</a>
					<a class='flag flag-cz' href='https://koupelna-rea.cz/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Czechy' class='flag-img'
								src='/images/flags/cz.png'>
						<span class='flag-name'>Česká republika</span>
					</a>
					<a class='flag flag-sk' href='https://kupelna-rea.sk/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowacja' class='flag-img'
								src='/images/flags/sk.png'>
						<span class='flag-name'>Slovensko</span>
					</a>
					<a class='flag flag-ro' href='https://baie-rea.ro/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rumunia' class='flag-img'
								src='/images/flags/ro.png'>
						<span class='flag-name'>România</span>
					</a>
					<a class='flag flag-hu' href='https://furdoszoba-rea.hu/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Węgry' class='flag-img' src='/images/flags/hu.png'>
						<span class='flag-name'>Magyarország</span>
					</a>
					<a class='flag flag-bg' href='https://bania-rea.bg/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Bułgaria' class='flag-img'
								src='/images/flags/bg.png'>
						<span class='flag-name'>България</span>
					</a>
					<a class='flag flag-lt' href='https://vonioskambarys-rea.lt/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Litwa' class='flag-img' src='/images/flags/lt.png'>
						<span class='flag-name'>Lietuva</span>
					</a>
					<a class='flag flag-uk' href='https://rea.ua/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Ukraina' class='flag-img'
								src='/images/flags/uk.png'>
						<span class='flag-name'>Україна</span> </a><a class='flag flag-es'
						href='https://bano-rea.es/' rel='noopener noreferrer' target='_blank'>
					<img alt='Hiszpania' class='flag-img' src='/images/flags/es.png'>
					<span class='flag-name'>Español</span>
				</a>
					<a class='flag flag-nl' href='https://badkamer-rea.nl/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niderlandia' class='flag-img'
								src='/images/flags/nl.png'>
						<span class='flag-name'>Nederlands</span>
					</a>
					<a class='flag flag-lv' href='https://vannasistaba-rea.lv/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Łotwa' class='flag-img' src='/images/flags/lv.png'>
						<span class='flag-name'>Latviski</span>
					</a>
					<a class='flag flag-ee' href='https://vannituba-rea.ee/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Estonia' class='flag-img'
								src='/images/flags/ee.png'>
						<span class='flag-name'>Eesti</span>
					</a>
					<a class='flag flag-hr' href='https://kupaona-rea.hr/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Chorwacja' class='flag-img'
								src='/images/flags/hr.png'>
						<span class='flag-name'>Hrvatski</span>
					</a><a class='flag flag-me' href='https://kupaona-rea.me/'
						rel='noopener noreferrer'
						target='_blank'>
					<img alt='Czarnogóra' class='flag-img'
							src='/images/flags/me.png'>
					<span class='flag-name'>Crne Gore</span>
				</a>
					<a class='flag flag-rs' href='https://kupaona-rea.rs/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Serbia' class='flag-img'
								src='/images/flags/rs.png'>
						<span class='flag-name'>Srpski</span>
					</a>
					<a class='flag flag-at' href='https://badezimmer-rea.at/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Austria' class='flag-img'
								src='/images/flags/at.png'>
						<span class='flag-name'>Österreich</span>
					</a>
					<a class='flag flag-be' href='https://salledebain-rea.be/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Belgia' class='flag-img'
								src='/images/flags/be.png'>
						<span class='flag-name'>Belgique</span>
					</a>
					<a class='flag flag-si' href='https://kopalnica-rea.si/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowenia' class='flag-img'
								src='/images/flags/si.png'>
						<span class='flag-name'>Slovenija</span>
					</a>
					<a class='flag flag-ch' href='https://lazienka-rea.com.pl/'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Szwajcaria' class='flag-img'
								src='/images/flags/ch.png'>
						<span class='flag-name'>Schweiz</span>
					</a>
				</div>
			</div>
			<div class='store-box'>
				<div class='logo-container'>
					<img alt='Logo Tutumi' class="store-logo" src='/images/logos/tutumi.svg'>
				</div>
				<div class='flag-box'>
					<a class='flag flag-pl' href='https://tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Polska' class='flag-img'
								src='/images/flags/pl.png'>
						<span class='flag-name'>Polska</span>
					</a>
					<a class='flag flag-en' href='https://en.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Anglia' class='flag-img'
								src='/images/flags/en.png'>
						<span class='flag-name'>United Kingdom</span>
					</a>
					<a class='flag flag-de' href='https://de.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niemcy' class='flag-img'
								src='/images/flags/de.png'>
						<span class='flag-name'>Deutschland</span>
					</a>
					<a class='flag flag-ru' href='https://ru.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rosja' class='flag-img' src='/images/flags/ru.png'>
						<span class='flag-name'>Россия</span>
					</a>
					<a class='flag flag-it' href='https://it.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Włochy' class='flag-img'
								src='/images/flags/it.png'>
						<span class='flag-name'>Italia</span>
					</a>
					<a class='flag flag-fr' href='https://fr.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Francja' class='flag-img'
								src='/images/flags/fr.png'>
						<span class='flag-name'>France</span>
					</a>
					<a class='flag flag-cz' href='https://cz.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Czechy' class='flag-img'
								src='/images/flags/cz.png'>
						<span class='flag-name'>Česká republika</span>
					</a>
					<a class='flag flag-sk' href='https://sk.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowacja' class='flag-img'
								src='/images/flags/sk.png'>
						<span class='flag-name'>Slovensko</span>
					</a>
					<a class='flag flag-ro' href='https://ro.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rumunia' class='flag-img'
								src='/images/flags/ro.png'>
						<span class='flag-name'>România</span>
					</a>
					<a class='flag flag-hu' href='https://hu.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Węgry' class='flag-img' src='/images/flags/hu.png'>
						<span class='flag-name'>Magyarország</span>
					</a>
					<a class='flag flag-bg' href='https://bg.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Bułgaria' class='flag-img'
								src='/images/flags/bg.png'>
						<span class='flag-name'>България</span>
					</a>
					<a class='flag flag-lt' href='https://lt.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Litwa' class='flag-img' src='/images/flags/lt.png'>
						<span class='flag-name'>Lietuva</span>
					</a>
					<a class='flag flag-uk' href='https://ua.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Ukraina' class='flag-img'
								src='/images/flags/uk.png'>
						<span class='flag-name'>Україна</span> </a><a class='flag flag-es'
						href='https://es.tutumi.pl/' rel='noopener noreferrer' target='_blank'>
					<img alt='Hiszpania' class='flag-img' src='/images/flags/es.png'>
					<span class='flag-name'>Español</span>
				</a>
					<a class='flag flag-nl' href='https://nl.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niderlandia' class='flag-img'
								src='/images/flags/nl.png'>
						<span class='flag-name'>Nederlands</span>
					</a>
					<a class='flag flag-lv' href='https://lv.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Łotwa' class='flag-img' src='/images/flags/lv.png'>
						<span class='flag-name'>Latviski</span>
					</a>
					<a class='flag flag-ee' href='https://ee.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Estonia' class='flag-img'
								src='/images/flags/ee.png'>
						<span class='flag-name'>Eesti</span>
					</a>
					<a class='flag flag-hr' href='https://hr.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Chorwacja' class='flag-img'
								src='/images/flags/hr.png'>
						<span class='flag-name'>Hrvatski</span>
					</a><a class='flag flag-me' href='https://me.tutumi.pl/'
						rel='noopener noreferrer'
						target='_blank'>
					<img alt='Czarnogóra' class='flag-img'
							src='/images/flags/me.png'>
					<span class='flag-name'>Crne Gore</span>
				</a>
					<a class='flag flag-rs' href='https://rs.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Serbia' class='flag-img'
								src='/images/flags/rs.png'>
						<span class='flag-name'>Srpski</span>
					</a>
					<a class='flag flag-at' href='https://at.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Austria' class='flag-img'
								src='/images/flags/at.png'>
						<span class='flag-name'>Österreich</span>
					</a>
					<a class='flag flag-be' href='https://be.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Belgia' class='flag-img'
								src='/images/flags/be.png'>
						<span class='flag-name'>Belgique</span>
					</a>
					<a class='flag flag-si' href='https://si.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowenia' class='flag-img'
								src='/images/flags/si.png'>
						<span class='flag-name'>Slovenija</span>
					</a>
					<a class='flag flag-ch' href='https://ch.tutumi.pl/' rel='noopener noreferrer'
							target='_blank'>
						<img alt='Szwajcaria' class='flag-img'
								src='/images/flags/ch.png'>
						<span class='flag-name'>Schweiz</span>
					</a>
				</div>
			</div>
			<div class='store-box'>
				<div class='logo-container'>
					<img alt='Logo Toolight' class="store-logo" src='/images/logos/toolight.svg'>
				</div>
				<div class='flag-box'>
					<a class='flag flag-pl' href='https://tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Polska' class='flag-img'
								src='/images/flags/pl.png'>
						<span class='flag-name'>Polska</span>
					</a>
					<a class='flag flag-en' href='https://en.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Anglia' class='flag-img'
								src='/images/flags/en.png'>
						<span class='flag-name'>United Kingdom</span>
					</a>
					<a class='flag flag-de' href='https://de.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niemcy' class='flag-img'
								src='/images/flags/de.png'>
						<span class='flag-name'>Deutschland</span>
					</a>
					<a class='flag flag-ru' href='https://ru.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rosja' class='flag-img' src='/images/flags/ru.png'>
						<span class='flag-name'>Россия</span>
					</a>
					<a class='flag flag-it' href='https://it.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Włochy' class='flag-img'
								src='/images/flags/it.png'>
						<span class='flag-name'>Italia</span>
					</a>
					<a class='flag flag-fr' href='https://fr.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Francja' class='flag-img'
								src='/images/flags/fr.png'>
						<span class='flag-name'>France</span>
					</a>
					<a class='flag flag-cz' href='https://cz.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Czechy' class='flag-img'
								src='/images/flags/cz.png'>
						<span class='flag-name'>Česká republika</span>
					</a>
					<a class='flag flag-sk' href='https://sk.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowacja' class='flag-img'
								src='/images/flags/sk.png'>
						<span class='flag-name'>Slovensko</span>
					</a>
					<a class='flag flag-ro' href='https://ro.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rumunia' class='flag-img'
								src='/images/flags/ro.png'>
						<span class='flag-name'>România</span>
					</a>
					<a class='flag flag-hu' href='https://hu.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Węgry' class='flag-img' src='/images/flags/hu.png'>
						<span class='flag-name'>Magyarország</span>
					</a>
					<a class='flag flag-bg' href='https://bg.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Bułgaria' class='flag-img'
								src='/images/flags/bg.png'>
						<span class='flag-name'>България</span>
					</a>
					<a class='flag flag-lt' href='https://lt.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Litwa' class='flag-img' src='/images/flags/lt.png'>
						<span class='flag-name'>Lietuva</span>
					</a>
					<a class='flag flag-uk' href='https://ua.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Ukraina' class='flag-img'
								src='/images/flags/uk.png'>
						<span class='flag-name'>Україна</span>
					</a>
					<a class='flag flag-es' href='https://es.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Hiszpania' class='flag-img'
								src='/images/flags/es.png'>
						<span class='flag-name'>Español</span>
					</a>
					<a class='flag flag-nl' href='https://nl.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niderlandia' class='flag-img'
								src='/images/flags/nl.png'>
						<span class='flag-name'>Nederlands</span>
					</a>
					<a class='flag flag-lv' href='https://lv.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Łotwa' class='flag-img' src='/images/flags/lv.png'>
						<span class='flag-name'>Latviski</span>
					</a>
					<a class='flag flag-ee' href='https://ee.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Estonia' class='flag-img'
								src='/images/flags/ee.png'>
						<span class='flag-name'>Eesti</span>
					</a>
					<a class='flag flag-hr' href='https://hr.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Chorwacja' class='flag-img'
								src='/images/flags/hr.png'>
						<span class='flag-name'>Hrvatski</span>
					</a>
					<a class='flag flag-me' href='https://me.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Czarnogóra' class='flag-img'
								src='/images/flags/me.png'>
						<span class='flag-name'>Crne Gore</span>
					</a>
					<a class='flag flag-rs' href='https://rs.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Serbia' class='flag-img'
								src='/images/flags/rs.png'>
						<span class='flag-name'>Srpski</span>
					</a>
					<a class='flag flag-at' href='https://at.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Austria' class='flag-img'
								src='/images/flags/at.png'>
						<span class='flag-name'>Österreich</span>
					</a>
					<a class='flag flag-be' href='https://be.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Belgia' class='flag-img'
								src='/images/flags/be.png'>
						<span class='flag-name'>Belgique</span>
					</a>
					<a class='flag flag-si' href='https://si.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowenia' class='flag-img'
								src='/images/flags/si.png'>
						<span class='flag-name'>Slovenija</span>
					</a>
					<a class='flag flag-ch' href='https://ch.tutumi.pl/toolight-2.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Szwajcaria' class='flag-img'
								src='/images/flags/ch.png'>
						<span class='flag-name'>Schweiz</span>
					</a>
				</div>
			</div>
			<div class='store-box'>
				<div class='logo-container'>
					<img alt='Logo Bluegarden' class="store-logo"
							src='/images/logos/bluegarden.svg'>
				</div>
				<div class='flag-box'>
					<a class='flag flag-pl' href='https://tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Polska' class='flag-img'
								src='/images/flags/pl.png'>
						<span class='flag-name'>Polska</span>
					</a>
					<a class='flag flag-en' href='https://en.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Anglia' class='flag-img'
								src='/images/flags/en.png'>
						<span class='flag-name'>United Kingdom</span>
					</a>
					<a class='flag flag-de' href='https://de.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niemcy' class='flag-img'
								src='/images/flags/de.png'>
						<span class='flag-name'>Deutschland</span>
					</a>
					<a class='flag flag-ru' href='https://ru.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rosja' class='flag-img' src='/images/flags/ru.png'>
						<span class='flag-name'>Россия</span>
					</a>
					<a class='flag flag-it' href='https://it.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Włochy' class='flag-img'
								src='/images/flags/it.png'>
						<span class='flag-name'>Italia</span>
					</a>
					<a class='flag flag-fr' href='https://fr.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Francja' class='flag-img'
								src='/images/flags/fr.png'>
						<span class='flag-name'>France</span>
					</a>
					<a class='flag flag-cz' href='https://cz.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Czechy' class='flag-img'
								src='/images/flags/cz.png'>
						<span class='flag-name'>Česká republika</span>
					</a>
					<a class='flag flag-sk' href='https://sk.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowacja' class='flag-img'
								src='/images/flags/sk.png'>
						<span class='flag-name'>Slovensko</span>
					</a>
					<a class='flag flag-ro' href='https://ro.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Rumunia' class='flag-img'
								src='/images/flags/ro.png'>
						<span class='flag-name'>România</span>
					</a>
					<a class='flag flag-hu' href='https://hu.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Węgry' class='flag-img' src='/images/flags/hu.png'>
						<span class='flag-name'>Magyarország</span>
					</a>
					<a class='flag flag-bg' href='https://bg.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Bułgaria' class='flag-img'
								src='/images/flags/bg.png'>
						<span class='flag-name'>България</span>
					</a>
					<a class='flag flag-lt' href='https://lt.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Litwa' class='flag-img' src='/images/flags/lt.png'>
						<span class='flag-name'>Lietuva</span>
					</a>
					<a class='flag flag-uk' href='https://ua.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Ukraina' class='flag-img'
								src='/images/flags/uk.png'>
						<span class='flag-name'>Україна</span>
					</a>
					<a class='flag flag-es' href='https://es.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Hiszpania' class='flag-img'
								src='/images/flags/es.png'>
						<span class='flag-name'>Español</span>
					</a>
					<a class='flag flag-nl' href='https://nl.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Niderlandia' class='flag-img'
								src='/images/flags/nl.png'>
						<span class='flag-name'>Nederlands</span>
					</a>
					<a class='flag flag-lv' href='https://lv.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Łotwa' class='flag-img' src='/images/flags/lv.png'>
						<span class='flag-name'>Latviski</span>
					</a>
					<a class='flag flag-ee' href='https://ee.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Estonia' class='flag-img'
								src='/images/flags/ee.png'>
						<span class='flag-name'>Eesti</span>
					</a>
					<a class='flag flag-hr' href='https://hr.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Chorwacja' class='flag-img'
								src='/images/flags/hr.png'>
						<span class='flag-name'>Hrvatski</span>
					</a>
					<a class='flag flag-me' href='https://me.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Czarnogóra' class='flag-img'
								src='/images/flags/me.png'>
						<span class='flag-name'>Crne Gore</span>
					</a>
					<a class='flag flag-rs' href='https://rs.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Serbia' class='flag-img'
								src='/images/flags/rs.png'>
						<span class='flag-name'>Srpski</span>
					</a>
					<a class='flag flag-at' href='https://at.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Austria' class='flag-img'
								src='/images/flags/at.png'>
						<span class='flag-name'>Österreich</span>
					</a>
					<a class='flag flag-be' href='https://be.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Belgia' class='flag-img'
								src='/images/flags/be.png'>
						<span class='flag-name'>Belgique</span>
					</a>
					<a class='flag flag-si' href='https://si.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Słowenia' class='flag-img'
								src='/images/flags/si.png'>
						<span class='flag-name'>Slovenija</span>
					</a>
					<a class='flag flag-ch' href='https://ch.tutumi.pl/bluegarden-1.html'
							rel='noopener noreferrer'
							target='_blank'>
						<img alt='Szwajcaria' class='flag-img'
								src='/images/flags/ch.png'>
						<span class='flag-name'>Schweiz</span>
					</a>

				</div>
			</div>
		</div>
	</section>
</main>
